*{
  background-color: rgb(129, 129, 166);
}
ul{
  list-style-type: none;
}
#showul{
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  gap: 20px;
}
#showli{
  flex: 40%
}
#updateForm{
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
}
#updateForm >input{
  background-color: aqua;
}
#commentsForm{
  align-self: center;
  width:auto;
  height: auto;
}
#posts {
  border: solid;
  border-width: 12px;
  border-color: rgb(52, 52, 133);
  background-color: rgb(109, 109, 193);
  border-radius: 7%;
  position: relative;
  top: 25px;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-top: 15px;
  text-align: center;
  width:300px;
 
}
#post {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(58, 44, 82, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-bottom: 20px;
  background-color: rgb(48, 77, 102);
}
#post > img {
  width: 25%;
  height: 25%;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}
#post > p {
  margin-block: 12px;
  font-size: 20px;
  color: #0a0a0c;
}
button{
  background-color: rgb(133, 113, 236);
  font-weight: 600;
  font-size: 15px;
}